/* latin-ext */
@font-face {
    font-family: 'Kode Mono';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kodemono/v2/A2BYn5pb0QgtVEPFnlYOk4Lwa5I.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Kode Mono';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kodemono/v2/A2BYn5pb0QgtVEPFnlYOnYLw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Kode Mono;
    text-align: center;
}
.container {
    background-color: rgb(14, 43, 43);
    padding: 25px;
    border-radius: 2px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.container input[type="text"] {
    font-family: Kode Mono;
    width: calc(25% - 25px);
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    border: none;
    justify-self: center;
}

.container input[type="email"],
.container input[type="password"] {
    font-family: Kode Mono;
    width: calc(50% - 10px);
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #00b894;
    color: white;
    font-size: 16px;
    font-family: Kode Mono;
    cursor: pointer;
    margin-top: 10px;
}

.container button:hover {
    background-color: #00a084;
}

.tab {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.tab button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #bbb;
    font-size: 16px;
}

.tab button.active {
    color: white;
    border-bottom: 2px solid #00b894;
}

.tab button:hover {
    color: #00a084;
}
